@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-ExtraBold.ttf") format("truetype"), 
	url("../fonts/Lato-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Medium.ttf") format("truetype"), 
	url("../fonts/Lato-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Bold.ttf") format("truetype"), 
	url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-SemiBold.ttf") format("truetype"),
	 url("../fonts/Lato-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}