@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-ExtraBold") format("ttf"), url("../fonts/Lato-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Medium") format("ttf"), url("../fonts/Lato-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Bold") format("ttf"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
