@import "fonts";
@import "zero";

/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

//////////variables//////////////

$distanceBetweenSections: calc(7.5rem + 15.5 * (100vw - 320px) / 880);
$distanceBetweenTitles: calc(1.25rem + 10 * (100vw - 320px) / 880);
.container {
  width: 95vw;
  margin: 0 auto;
  padding: 1vw 0;
}
.main {
  overflow-x: hidden;
}
@mixin title {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.96);
  font-size: 4rem;
  font-size: calc(1.3rem + 20 * (100vw - 320px) / 880);
  text-align: center;
  width: 75vw;
  margin: 0 auto 3.5rem auto;
  margin-bottom: calc(1.3rem + 20 * (100vw - 320px) / 880);
}
@mixin btn-style($bgcolor) {
  cursor: pointer;
  box-shadow: 0px 5px 20px -8px rgba(126, 76, 47, 0.6);
  border-radius: 100px;
  padding: 1.2rem 3.1rem;
  padding: calc(0.7rem + 4.6 * (100vw - 320px) / 880) calc(1.25rem + 8.8 * (100vw - 320px) / 880);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-size: calc(0.6rem + 3 * (100vw - 320px) / 880);
  font-weight: 700;
  letter-spacing: 0.08em;
  border: none;
  background: $bgcolor;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
////HEADER/////////////////////////////////////////////////////////////////////////////////
header {
  background: url(../img/bg.svg) no-repeat center center;
  background-size: cover;
  margin-bottom: $distanceBetweenSections;

  .header_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-btns {
      position: fixed;
      left: 10%;
      top: 93%;
      display: flex;
      z-index: 1;
      &-btn {
        margin-right: 1vw;
        @include btn-style(#fff);
      }
    }
    &-menu {
      width: 85vw;
      margin-bottom: 3vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
        font-size: 0.9rem;
        font-weight: 600;
        display: none;
        margin-right: 1vw;
        text-transform: uppercase;
      }
      &-burger {
        display: none;
        &-menu {
          background: rgba(255, 255, 255, 0.4);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &-lines {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-bottom: -4px;
            &-line {
              width: 25px;
              height: 4px;
              background: #000000;
              border-radius: 10px;
              margin-bottom: 4px;
              &.second {
                width: 17px;
              }
            }
          }
        }
      }
      &-list {
        ul {
          display: flex;
          li + li {
            margin-left: 3.75rem;
          }
          li {
            text-transform: uppercase;
            list-style-type: none;
            a {
              text-decoration: none;
              color: rgba(0, 0, 0, 0.8);
              font-weight: 600;
            }
          }
        }
      }
      &-lg {
        width: 7rem;
        height: 6rem;
        background: url(../img/logo.svg) center center no-repeat;
        background-size: contain;
      }
    }

    &-info {
      display: flex;
      width: 95vw;
      justify-content: space-between;
      &-img {
        padding-top: 8vw;
        width: 35vw;
        display: flex;
        align-items: end;
        margin-right: 15vw;
        &-inner {
          position: relative;
          margin-bottom: -4%;
          img {
            width: 30vw;
          }
          .val2 {
            position: absolute;
            top: -20%;
            left: 15%;
            img {
              width: 40vw;
            }
          }
        }
      }
      &-text {
        width: 45vw;
        display: flex;
        flex-direction: column;
        padding: 2vw 0;
        h1 {
          width: 45vw;
          font-weight: 800;
          font-size: 3.6rem;
          font-size: calc(1.3rem + 20 * (100vw - 320px) / 880);
          color: #ffffff;
          margin-bottom: $distanceBetweenTitles;
        }
        h2 {
          width: 45vw;
          font-weight: 400;
          font-size: 1.6rem;
          margin-top: 0;
          font-size: calc(0.8rem + 6 * (100vw - 320px) / 880);
          margin-bottom: 3vw;
          color: rgba(0, 0, 0, 0.6);
        }
        p {
          margin: 0;
        }
        .header_inner-info-btns {
          display: flex;
          flex-wrap: wrap;
          &-btn {
            margin-right: 1vw;
            margin-bottom: 1vw;
            &.btn1 {
              @include btn-style(#000);
              color: #fff;
            }
          }
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////TASK-SECTION//////////////////////////
.task_list {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #ffffff;
  .container.task {
    .task_list-title {
      @include title;
    }
    width: 80vw;
    margin: 0 auto;
    .task_list-inner {
      margin-bottom: $distanceBetweenSections;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
          width: 40vw;
          &-info {
            display: flex;
            flex-direction: column;
            &-title {
              margin-bottom: 5vh;
            }

            h2 {
              font-weight: 800;
              margin: 1px 0;
              font-size: 2vw;
            }
            h3 {
              margin: 1px 0;
              color: rgba(0, 0, 0, 0.6);
              font-weight: 400;
              font-size: 1.4vw;
            }
          }
        }
      }
    }
  }
}

///////////features-list/////////
.features_list {
  background: url(../img/bg_gradient1.svg) center bottom no-repeat;
  background-origin: border-box;
  padding-bottom: $distanceBetweenSections;
  &-title {
    @include title;
  }
  &-inner {
    margin: 0 auto;
    flex-wrap: wrap;

    justify-content: space-between;
    display: flex;
    width: 90%;
    &-item {
      display: flex;
      width: 33%;
      flex-direction: column;
      align-items: center;
      &-info {
        font-weight: 600;
        font-size: 1.5rem;
        font-size: calc(0.6rem + 8 * (100vw - 320px) / 880);
        text-align: center;
        width: 90%;
      }
      &-img {
        width: 50%;
        height: 70%;
        margin-bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
        }
        // &.img1 {

        //   background: url(../img/feature1.svg) center center  no-repeat;
        //   background-size: contain;
        // }
        // &.img2 {

        //   background: url(../img/feature1.svg)  center center no-repeat;
        //   background-size: contain;
        // }
        // &.img3 {
        //   background: url(../img/feature3.svg)  center center  no-repeat;
        //   background-size: contain;
        // }
      }
    }
  }
}

/////////statistics////////
.statistics {
  background: url(../img/bg_gradient2.svg) center top no-repeat;
  background-origin: border-box;
  .container.statistics {
    .statistics-title {
      @include title;
    }
    .statistics-inner {
      margin-bottom: $distanceBetweenSections;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &-img {
        width: 60vw;
        margin-bottom: 4vw;
        img {
          width: 100%;
        }
      }
      &-btns {
        &-btn {
          @include btn-style(rgba(22, 19, 18, 1));
          color: #fff;
        }
      }
    }
  }
}

//////////history section/////
.history-section {
  margin-bottom: $distanceBetweenSections;
  .history_title {
    @include title();
  }
  .history_wrapper {
    background: url(../img/bg-history.svg) center center;
    background-origin: border-box;
    background-size: contain;
    .container.history {
      width: 80vw;
      .a11y-slider-prev {
        transform: translateY(-50%);
        top: 50%;
        z-index: 100;
        position: absolute;
        background: url(../img/slider-arrow.svg) center center no-repeat;
        background-size: contain;
        width: 3rem;
        border: none;
        left: -5%;
        height: 3rem;
        font-size: 0;
      }
      .a11y-slider-next {
        transform: rotate(180deg) translateY(50%);
        top: 50%;
        z-index: 100;
        position: absolute;
        background: url(../img/slider-arrow.svg) center center;
        background-size: contain;
        width: 3rem;
        border: none;
        right: -5%;
        height: 3rem;
        font-size: 0;
      }
      .history_inner {
        flex: 0 0 auto;
        &-slide {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 auto;
          &-img {
            display: flex;
            width: 45%;
            justify-content: center;
            img {
              width: 100%;
            }
          }
          &-info {
            width: 45%;
            &-title {
              color: rgba(255, 255, 255, 0.96);
              font-weight: 800;
              margin-bottom:  1rem;
              font-size: 2.5rem;
              width: 70%;
              font-size: calc(1.6rem + 6 * (100vw - 320px) / 880);
            }
            &-box {
              color: rgba(0, 0, 0, 0.6);
              width: 75%;
              font-size: 1.4rem;
              font-size: calc(0.8rem + 3 * (100vw - 320px) / 880);
            }
          }
        }
      }
    }
  }
}
//////////footer////
footer {
  background: #fff;
  padding: 4vw 0;
  .footer_inner {
    font-size: 1.5rem;
    font-size: calc(0.75rem + 6 * (100vw - 320px) / 880);

    display: flex;
    flex-direction: column;
    align-items: center;
    &-developer {
      display: flex;
      font-size: 0.8rem;
      font-size: calc(0.6rem + 3 * (100vw - 320px) / 880);
      &-logo {
        margin-right: 1vw;
      }
    }
    &-info {
      width: 90vw;
      margin: 0 auto 4vw auto;
      display: flex;
      align-items: center;
      font-weight: 800;
      &-time {
        color: #000000;
        opacity: 0.65;
        width: 18vw;
        font-weight: 400;
      }
      &-list {
        width: 50vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &-phone {
          display: flex;
          align-items: center;

          &-number {
            margin-right: 1vw;
          }
          &-icons {
            img + img {
              margin-left: 0.5vw;
            }
            img {
              width: 30%;
            }
          }
        }
      }
    }
  }
}
/////////usability section/////////
.usability {
  margin-bottom: $distanceBetweenSections;
  .container.usability {
    width: 80vw;
    .usability_inner {
      display: flex;
      &-images {
        width: 60%;
        height: auto;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        &-img {
          margin-right: 5vw;
          display: inline-block;
          &-title {
            text-align: center;
            font-weight: 700;
            padding: 0.5rem 0;
            font-size: 1.2rem;
          }
        }
      }
      &-info {
        display: flex;
        width: 50%;
        flex-direction: column;
        &-title {
          font-weight: 800;
          font-size: 2.5rem;
        }
        &-box {
          color: rgba(0, 0, 0, 0.6);
          font-size: 1.4rem;
          font-size: calc(0.6rem + 8 * (100vw - 320px) / 880);
          margin: 2rem 0;
        }
        &-btn {
          button {
            @include btn-style(#000);
            color: #fff;
          }
        }
      }
    }
  }
}
/////////////////////////question section///////////
.questions {
  margin-bottom: $distanceBetweenSections;
  .question_title {
    @include title();
  }
  .container.questions {
    width: 70vw;
    .question_inner {
      display: flex;
      flex-direction: column;
      &-question {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid rgba(47, 128, 237, 0.15);
        &-box {
          &.active {
            display: block;
          }
          opacity: 0.55;
          display: none;
          padding: 0.7rem 0;
          font-size: 1.8rem;
          font-size: calc(0.7rem + 8 * (100vw - 320px) / 880);
        }
        &-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-title {
            font-weight: 700;
            width: 80vw;
            font-size: 2.5rem;
            font-size: calc(0.85rem + 14 * (100vw - 320px) / 880);
          }
          &-arrow {
            &.active {
              transform: rotate(180deg);
            }
            cursor: pointer;
          }
        }
      }
    }
  }
}
/////////////////rates section//////
.rates {
  background: url(../img/bg-rates.svg) center top no-repeat;
  background-origin: border-box;

  .container.rate {
    .rate_title {
      @include title();
    }
    .rate_inner {
      margin: 0 auto;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      &-item {
        margin-right: 2rem;
        &.pro {
          width: 28%;
          border: 5px solid #ffb51b;
          box-shadow: 0px 5px 50px -8px rgba(255, 211, 118, 0.2);
        }
        width: 23%;
        padding: 2rem;
        font-size: 1.2rem;
        font-size: calc(0.7rem + 3 * (100vw - 320px) / 880);
        background: #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        &-title {
          font-weight: 800;
          font-size: 3rem;
          font-size: calc(2rem + 10 * (100vw - 320px) / 880);
          margin-bottom: 1rem;
          &.pro {
            color: #ffb51b;
          }
        }
        &-price {
          font-weight: 800;
          font-size: 3.5rem;
          font-size: calc(2.5rem + 10 * (100vw - 320px) / 880);
          margin-bottom: 3rem;
          display: flex;
          align-items: center;
          &-month {
            font-weight: 500;
            font-size: 2.8rem;
            font-size: calc(1.2rem + 4 * (100vw - 320px) / 880);
          }
        }
        &-info {
          margin-bottom: 1rem;
        }
        &-list {
          margin-bottom: 4rem;
          ul {
            padding-left: 0;
            li {
              display: flex;
              align-items: center;
              list-style-type: none;
              &::before {
                display: inline-block;
                width: auto;
                content: url(../img/check-icon.svg);
              }
              margin-bottom: 2rem;
            }
          }
        }
        &-btn {
          @include btn-style(#fff);
          border: 2px solid #000000;
          align-self: center;
          width: 58%;
          margin-top: auto;
          box-shadow: none;
          &.pro {
            width: 40%;
            @include btn-style(#000);
            color: #fff;
          }
        }
      }
    }
  }
}
@import "media";
