@import "fonts";
@import "zero";
/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/
.container {
  width: 95vw;
  margin: 0 auto;
}
.main {
  overflow-x: hidden;
}
@mixin btn-style($bgcolor) {
  box-shadow: 0px 5px 20px -8px rgba(126, 76, 47, 0.6);
  border-radius: 100px;
  padding: 0.9vw 1.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 700;
  letter-spacing: 0.08em;
  border: none;
  background: $bgcolor;
}
body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #ffffff;

  font-family: "Lato", sans-serif;
  ////HEADER/////////////////////////////////////////////////////////////////////////////////
  header {
    background: radial-gradient(41.72% 84.72% at 41.76% 96.93%, #ffb51b 0%, #ffcd64 100%);
    margin-bottom: 50px;
    .header_inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-lg {
        width: 8vw;
        height: 6vh;
        background: url(../img/logo.svg) 100% 100% no-repeat;
        background-size: contain;
        margin-bottom: 5%;
      }
      &-info {
        display: flex;
        width: 95vw;
        justify-content: space-between;

        &-img {
          padding-top: 8vw;
          width: 35vw;
          display: flex;
          align-items: end;
          margin-right: 15vw;
          &-inner {
            position: relative;
            margin-bottom: -3px;
            img {
              width: 30vw;
            }
            .val2 {
              position: absolute;
              top: -30%;
              left: 15%;
              img {
                width: 40vw;
              }
            }
          }
        }
        &-text {
          width: 50vw;
          display: flex;
          flex-direction: column;
          padding: 2vw 0;
          h1 {
            line-height: 4vw;
            font-weight: 800;
            font-size: 4vw;
            color: #ffffff;
          }
          h2 {
            width: 41vw;
            font-weight: 400;
            font-size: 1.93vw;
            margin-top: 0;
            margin-bottom: 3vw;
          }
          .header_inner-info-btns {
            display: flex;
            flex-wrap: wrap;
            &-btn {
              margin-right: 1vw;
              margin-bottom: 1vw;

              &.btn1 {
                @include btn-style(#000);
                color: #fff;
              }
              &.btn2 {
                @include btn-style(#fff);
              }
            }
          }
        }
      }
    }
  }
  .container.task {
    width: 80vw;
    margin: 0 auto;
    .task_list {
      &-btns {
        position: sticky;
        top: 10%;
        display: flex;
        margin-bottom: 20%;
        &-btn {
          margin-right: 1vw;
          @include btn-style(#fff);
        }
      }
    }
    .task_list-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-item {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
          width: 40vw;
          &-title {
            margin-bottom: 1vw;
          }

          h2 {
            font-weight: 800;
            margin: 1px 0;
            font-size: 2.6vw;
          }
          h3 {
            margin: 1px 0;
            color: rgba(0, 0, 0, 0.6);
            font-weight: 400;
            font-size: 1.6vw;
          }
        }

        &-img {
          &-max {
          }
          &-min {
          }
        }
      }
    }
  }
  /////////////////////////////////////////////////////////////////////TASK-SECTION//////////////////////////
}
