@import "fonts";
@import "zero";

/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

//////////variables//////////////

$distanceBetweenSections: 15rem;
$distanceBetweenTitles: 3.75rem;
$fontSizeTitle: 4.5rem;
.container {
  width: 95vw;
  margin: 0 auto;
  padding: 1vw 0;
}
.main {
  overflow-x: hidden;
}
@mixin title {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.96);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3.5rem;
}
@mixin btn-style($bgcolor) {
  cursor: pointer;
  box-shadow: 0px 5px 20px -8px rgba(126, 76, 47, 0.6);
  border-radius: 100px;
  padding: 1vw 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  border: none;
  background: $bgcolor;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  ////HEADER/////////////////////////////////////////////////////////////////////////////////
  header {
    background: url(../img/bg.svg) no-repeat center center;
    background-size: cover;
    margin-bottom: $distanceBetweenSections;

    .header_inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-btns {
        position: fixed;
        left: 10%;
        top: 93%;
        display: flex;
        z-index: 1;
        &-btn {
          margin-right: 1vw;
          @include btn-style(#fff);
        }
      }
      &-menu {
        width: 85vw;
        margin-bottom: 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-title {
          font-size: 0.9rem;
          font-weight: 600;
          display: none;
          text-transform: uppercase;
        }
        &-burger {
          display: none;
          &-menu {
            background: rgba(255, 255, 255, 0.4);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-lines {
              display: flex;
              flex-direction: column;
              align-items: end;
              margin-bottom: -4px;
              &-line {
                width: 25px;
                height: 4px;
                background: #000000;
                border-radius: 10px;
                margin-bottom: 4px;
                &.second {
                  width: 17px;
                }
              }
            }
          }
        }
        &-list {
          ul {
            display: flex;
            li + li {
              margin-left: 3.75rem;
            }
            li {
              text-transform: uppercase;
              list-style-type: none;
              a {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.8);
                font-weight: 600;
              }
            }
          }
        }
        &-lg {
          width: 10rem;
          height: 8rem;
          background: url(../img/logo.svg) center center no-repeat;
          background-size: contain;
        }
      }

      &-info {
        display: flex;
        width: 95vw;
        justify-content: space-between;
        &-img {
          padding-top: 8vw;
          width: 35vw;
          display: flex;
          align-items: end;
          margin-right: 15vw;
          &-inner {
            position: relative;
            margin-bottom: -4%;
            img {
              width: 30vw;
            }
            .val2 {
              position: absolute;
              top: -20%;
              left: 15%;
              img {
                width: 40vw;
              }
            }
          }
        }
        &-text {
          width: 45vw;
          display: flex;
          flex-direction: column;
          padding: 2vw 0;
          h1 {
            width: 45vw;
            font-weight: 800;
            font-size: $fontSizeTitle;
            color: #ffffff;
            margin-bottom: $distanceBetweenTitles;
          }
          h2 {
            width: 41vw;
            font-weight: 400;
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 3vw;
            color: rgba(0, 0, 0, 0.6);
          }
          p {
            margin: 0;
          }
          .header_inner-info-btns {
            display: flex;
            flex-wrap: wrap;
            &-btn {
              margin-right: 1vw;
              margin-bottom: 1vw;
              &.btn1 {
                @include btn-style(#000);
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  /////////////////////////////////////////////////////////////////////TASK-SECTION//////////////////////////

  .container.task {
    .task_list-title {
      @include title;
    }
    width: 80vw;
    margin: 0 auto;
    .task_list-inner {
      margin-bottom: $distanceBetweenSections;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
          width: 40vw;
          &-info {
            display: flex;
            flex-direction: column;
            &-title {
              margin-bottom: 5vh;
            }

            h2 {
              font-weight: 800;
              margin: 1px 0;
              font-size: 2vw;
            }
            h3 {
              margin: 1px 0;
              color: rgba(0, 0, 0, 0.6);
              font-weight: 400;
              font-size: 1.4vw;
            }
          }
        }

        &-img {
          figure {
            background-image: url(../img/shadow.svg);
            position: relative;
            width: 210px;
            height: 419px;
            .base {
              position: absolute;
              z-index: 2;
              width: 349px;
              height: 513px;
              background-size: 349px 513px;
              background-repeat: no-repeat;
              background-image: url(../img/telephone_base.svg);
            }
            .phone-mockup {
              position: absolute;
              width: 189px;
              height: 408px;
              background-size: 189px 408px;
              background-repeat: no-repeat;
              background-image: url(../img/phoneMockup1.svg);
              z-index: 1;
            }
          }
          &-max {
            background: url(../img/phoneMockup1.svg) center center no-repeat;
            transition: 5ms;
            background-size: contain;
            width: 30vw;
            height: 40vh;
            &:hover {
              background: url(../img/phoneMockup2.svg) center center no-repeat;
            }
          }
        }
      }
    }
  }
}

///////////features-list/////////
.features_list {
  margin-bottom: $distanceBetweenSections;
  &-title {
    @include title;
  }
  &-inner {
    width: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-info {
        font-weight: 600;
        font-size: 1.6rem;
        text-align: center;
        width: 25vw;
      }
      &-img {
        margin-bottom: 2vw;
        height: 35vh;
        width: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/////////statistics////////
.container.statistics {
  .statistics-title {
    @include title;
  }
  .statistics-inner {
    margin-bottom: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &-img {
      width: 60vw;
      margin-bottom: 4vw;
      img {
        width: 100%;
      }
    }
    &-btns {
      &-btn {
        @include btn-style(rgba(22, 19, 18, 1));
        color: #fff;
      }
    }
  }
}

//////////history section/////
.history {
  margin-bottom: $distanceBetweenSections;
  background: url(../img/history-bg.svg) center center no-repeat;
  .container.history {width: 80vw;
   
    .history_title {
      @include title();
    }
    .history_inner {
      
      flex: 0 0 auto;
      &-slide {
        display: flex;
        align-items: center;
        &-img{
         display: flex;
         justify-content: center;
          img{
            width: 60%;
          }
        }
        &-info {
          width:30%;
          &-title {
            color: rgba(255, 255, 255, 0.96);
            font-weight: 800;
            margin-bottom: 2rem;
            font-size: 3rem;
          }
          &-box{
            color: rgba(0, 0, 0, 0.6);
            width: 75%;
            font-size: 1.4rem;
          }

        }
      }
    }
  }
}
//////////footer////
footer {
  background: #fff;
  padding: 4vw 0;
  .footer_inner {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-developer {
      display: flex;
      font-size: 0.8vw;
      &-logo {
        margin-right: 1vw;
      }
    }
    &-info {
      width: 90vw;
      margin: 0 auto 4vw auto;
      display: flex;

      align-items: center;
      font-weight: 800;
      &-time {
        color: #000000;
        opacity: 0.65;
        width: 18vw;
        font-weight: 400;
      }
      &-list {
        width: 50vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &-phone {
          display: flex;
          align-items: center;

          &-number {
            margin-right: 1vw;
          }
          &-icons {
            img + img {
              margin-right: 0.5vw;
            }
          }
        }
      }
    }
  }
}
/////////usability section/////////
.usability {
  margin-bottom: $distanceBetweenSections;
  .container.usability {
    width: 80vw;
    .usability_inner {
      display: flex;
      &-images {
        width: 60%;
        height: auto;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        &-img {
          margin-right: 5vw;
          display: inline-block;
          &-title {
            text-align: center;
            font-weight: 700;
            padding: 0.5rem 0;
            font-size: 1.2rem;
          }
        }
      }
      &-info {
        display: flex;
        width: 50%;
        flex-direction: column;
        &-title {
          font-weight: 800;
          font-size: 2.5rem;
        }
        &-box {
          color: rgba(0, 0, 0, 0.6);
          font-size: 1.4rem;
          margin: 2rem 0;
        }
        &-btn {
          button {
            @include btn-style(#000);
            color: #fff;
          }
        }
      }
    }
  }
}
/////////////////////////question section///////////
.questions {
  margin-bottom: $distanceBetweenSections;
  .question_title {
    @include title();
  }
  .container.questions {
    width: 70vw;
    .question_inner {
      display: flex;
      flex-direction: column;
      &-question {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid rgba(47, 128, 237, 0.15);
        &-box {
          &.active {
            display: block;
          }
          opacity: 0.55;
          display: none;
          font-size: 1.8rem;
        }
        &-info {
          display: flex;
          justify-content: space-between;
          &-title {
            font-weight: 700;
            font-size: 2.5rem;
          }
          &-arrow {
            &.active {
              transform: rotate(180deg);
            }
            cursor: pointer;
          }
        }
      }
    }
  }
}
/////////////////rates section//////
.rates {
  background: linear-gradient(180deg, #f4edd9 2.96%, rgba(244, 237, 216, 0) 33.26%),
    radial-gradient(69.57% 118.59% at 50.03% -7.5%, rgba(255, 206, 27, 0.3) 0%, rgba(255, 194, 66, 0) 100%),
    linear-gradient(0deg, rgba(255, 181, 27, 0.2), rgba(255, 181, 27, 0.2)), #ffffff;

  .container.rate {
    .rate_title {
      @include title();
    }
    .rate_inner {
      margin: 0 auto;
      justify-content: center;
      display: flex;

      &-item {
        margin-right: 2rem;
        &.pro {
          width: 22vw;
          border: 5px solid #ffb51b;
          box-shadow: 0px 5px 50px -8px rgba(255, 211, 118, 0.2);
        }
        width: 19vw;
        padding: 2rem;
        font-size: 1.2rem;
        background: #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        &-title {
          font-weight: 800;
          font-size: 3rem;
          margin-bottom: 1rem;
          &.pro {
            color: #ffb51b;
          }
        }
        &-price {
          font-weight: 800;
          font-size: 3.5rem;
          margin-bottom: 3rem;
          display: flex;
          align-items: center;
          &-month {
            font-weight: 500;
            font-size: 2.8rem;
          }
        }
        &-info {
          margin-bottom: 1rem;
        }
        &-list {
          margin-bottom: 4rem;
          ul {
            li {
              margin-bottom: 2rem;
            }
          }
        }
        &-btn {
          @include btn-style(#fff);
          border: 2px solid #000000;
          align-self: center;
          width: 70%;
          margin-top: auto;
          box-shadow: none;
          &.pro {
            @include btn-style(#000);
            color: #fff;
          }
        }
      }
    }
  }
}
@import "media";
